/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code ###
.vscode

### src and test is taken from the idempiere micro by ./copy-monolith.sh
### but we want to have them here as well now
#src
/idempiere-docker-pgsql-5.1.0.latest.tar.gz
log
/staging.properties
/cc-test-reporter
/coverage/codeclimate.json
/dockerize
/dockerize-linux-amd64-v0.6.1.tar.gz
*.swp
/src/main/java/**/*.kt
/src/main/java/software/hsharp/core/util/ParseKt.java
*.tmp.*
